.form {
  padding: 30px 0;
  background-color: $color-primary;

  & .btn--primary {
    width: 100%;
    color: $color-light;
    border-color: rgba($color-light, 0);
    border-bottom-color: rgba($color-light, 0.2);
    background-color: rgba($color-light, 0.1);
  }
  & .btn--primary:hover,
  & .btn--primary:focus {
    cursor: pointer;

    border-color: $color-light;
    background-color: $color-accent;
  }

  &__container {
    @extend %container;
    display: grid;
    gap: $gap;

    @include lg-min {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.form-item__input {
  display: block;
  width: 100%;
  height: 60px;
  padding-right: 30px;
  padding-left: 30px;
  transition: background-color 0.5s, border-color 0.5s;
  letter-spacing: 0.15em;
  color: $color-light;
  border: 2px solid rgba($color-light, 0);
  border-bottom-color: rgba($color-light, 0.25);
  background-color: rgba($color-light, 0.05);
  font-size: 1.125rem;
}
.form-item__input:hover,
.form-item__input:focus {
  border-color: rgba($color-light, 0.15);
  border-bottom-color: $color-light;
  background-color: rgba($color-light, 0.15);
  outline: none;
}
.form-item:nth-of-type(1) {
  @include md-sm {
    grid-column: 1 / span 2;
  }
}
